---
import type { HTMLAttributes } from "astro/types"
export interface Props extends HTMLAttributes<"input"> {
  label: string
}

const { label, ...props } = Astro.props as Props
---

<div>
  <label
    for={props.id ?? props.name}
    class="block text-sm font-medium text-gray-700"
  >
    {label}
  </label>
  <div class="mt-1">
    <input
      {...props}
      id={props.id ?? props.name}
      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
    />
  </div>
</div>
